@use "../../style/globalVariables.scss" as gv;
@use "sass:color";

.heroContainer {
  width: 100%;
  height: 80vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  flex-direction: column;
  user-select: none;
  padding-top: 1rem;
  
  @media (max-width: 768px) {
    height: 50vh;
    padding: 5rem 1rem;
  }
}

.heroTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: gv.$RobotoMonoRegular;
  font-size: 2rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    padding-top: 5rem;
    font-size: 1.2rem;
  }
}

.title {
  transition: opacity 0.5s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.hidden {
  display: none;
}

.highlight {
  font-family: gv.$RobotoMonoBold;
}

.talk {
  font-family: gv.$RobotoMonoBold;
}

.ctaContainer {
  text-align: center;
  margin-top: 1.5rem;

  @media (max-width: 768px) {
    margin-top: 1rem;
  }
}

.ctaText {
  font-family: gv.$RobotoMonoRegular;
  font-size: 2rem;
  color: #333;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.ctaButton {
  position: relative;
  font-family: gv.$RobotoMonoRegular;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1;
  color: black;
  margin: 1rem;
  padding: 1em 1.5em;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    margin: 2rem;
    font-size: 0.9em;
    padding: 0.8em 1.2em;
  }

  @media (max-width: 480px) {
    margin: 2rem;
    font-size: 0.85em;
    padding: 0.7em 1em;
  }

  &:hover {
    color: color.scale(black, $lightness: 20%);
  }

  &:focus {
    color: color.scale(black, $lightness: 10%);
    outline: none;
  }

  &:active {
    color: black;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
  }

  &:before {
    top: 0;
    left: 0;
    box-shadow: inset 1px 1px 0 0 black;
  }

  &:after {
    right: 0;
    bottom: 0;
    box-shadow: inset -1px -1px 0 0 black;
  }
}

.ctaButton:hover {
  &:before {
    animation: hoverShadowBefore 1s forwards;
  }
  &:after {
    animation: hoverShadowAfter 1s forwards;
  }
}

@media (max-width: 768px) {
  .ctaButton {
    display: block;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }
}

@keyframes hoverShadowBefore {
  0% { width: 100%; height: 1px; top: 0; left: 0; }
  33% { width: 1px; height: 100%; top: 0; left: 0; }
  66% { width: 1px; height: 1px; top: calc(100% - 1px); left: 0; }
  100% { width: 100%; height: 1px; top: calc(100% - 1px); left: 0; }  
}

@keyframes hoverShadowAfter {
  0% { width: 100%; height: 1px; }
  33% { width: 1px; height: 100%; bottom: 0; right: 0; }
  66% { width: 1px; height: 1px; bottom: calc(100% - 1px); right: 0; }
  100% { width: 100%; height: 1px; bottom: calc(100% - 1px); right: 0; }
}
