@font-face {
    font-family: "RobotoMonoBold";
    src: url("/assets/fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMonoLight";
    src: url("/assets/fonts/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    src: url("/assets/fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMonoRegular";
    src: url("/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMonoThin";
    src: url("/assets/fonts/RobotoMono-Thin.ttf") format("truetype");
}