@use "fonts";

/*------------------------------------*\
  # Fonts
\*------------------------------------*/

$RobotoMonoThin: "RobotoMonoThin", sans-serif;
$RobotoMonoLight: "RobotoMonoLight", sans-serif;
$RobotoMonoRegular: "RobotoMonoRegular", sans-serif;
$RobotoMono: "RobotoMono", sans-serif;
$RobotoMonoBold: "RobotoMonoBold", sans-serif;